<h1>Edit/Update Classroom Information</h1>

<%= form_for @classroom do |f| %>

    <% if @classroom.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>
          <ul>
            <% @classroom.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="field">
      <%= f.number_field :no_of_students, :type => "hidden" %>
    </div>

    <br>
    <div class="field">
      <%= f.label :Select_Subjects  %><br>
      <% School.find(@classroom.school.id).subjects.each do |subject| %>
          <%= check_box_tag :subject_ids, subject.id, @classroom.subjects.include?(subject), :name => "classroom[subject_ids][]" %>
          <%= subject.name %>&nbsp;
      <% end %>
    </div>

    <div class="field">
      <%= f.number_field :school_id, :type => "hidden" %>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Cancel Editing', classrooms_path %>