<p>
  <strong>Name :</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>No Of Students :</strong>
  <%= @classroom.no_of_students %>
</p>

<p>
  <strong>School :</strong>
  <%= @classroom.school.name %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %>
<%= link_to 'Classrooms Dashboard', classrooms_path %>
<%= link_to 'Register Student', new_student_path(@classroom) %>