<p>
  <strong>Name :</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>No Of Students :</strong>
  <%= @classroom.no_of_students %>
</p>

<p>
  <strong>School :</strong>
  <%= @classroom.school.name %>
</p>

<p>
  <strong>Subjects :</strong>
  <% @classroom.subjects.each do |subject| %>
      <%= subject.name %>&nbsp;
  <% end %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %>
<%= link_to 'Classrooms Dashboard', classrooms_path %>
<%= link_to 'Register Student', new_student_path(@classroom) %>
<%= link_to 'View Students', students_index_by_classroom_id_path(@classroom) %>