<%= link_to 'New Student', classrooms_index_by_school_id_path(params[:format]) %>
<%= link_to 'Home', school_path(params[:format]) %>
<br><br>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Father's Name</th>
    <th>Mother's Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Subjects</th>
    <th>Class</th>
    <th>School</th>
    <th colspan="3">Operations</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.father_name %></td>
        <td><%= student.mother_name %></td>
        <td><%= student.address %></td>
        <td><%= student.city %></td>
        <td><%= student.state %></td>
        <td><%= student.zipcode %></td>
        <td><%= student.phone %></td>
        <td>
          <% student.subjects.each do |subject| %>
            <%= subject.name %>&nbsp;
          <% end %>
        </td>
        <td><%= student.classroom.name %></td>
        <td><%= student.school.name %></td>
        <td><%= link_to 'Show', student_path(student) %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student_path(student),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>