<h1>Edit/Update Student Information</h1>

<%= form_for @student do |f| %>

    <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
          <ul>
            <% @student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="field">
      <%= f.label :father_name %><br>
      <%= f.text_field :father_name, :required => true %>
    </div>
    <div class="field">
      <%= f.label :mother_name %><br>
      <%= f.text_field :mother_name, :required => true %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_area :address, :required => true %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city, :required => true %>
    </div>
    <div class="field">
      <%= f.label :state %><br>
      <%= f.text_field :state, :required => true %>
    </div>
    <div class="field">
      <%= f.label :zipcode %><br>
      <%= f.number_field :zipcode, :required => true %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.number_field :phone, :required => true %>
    </div>
    <div class="field">
      <%= f.number_field :classroom_id, :type => "hidden" %>
    </div>
    <div class="field">
      <%= f.number_field :school_id, :type => "hidden" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :Select_Subjects  %><br>
      <% Classroom.find(@student.classroom.id).subjects.each do |subject| %>
        <%= subject.name %>
        <%= check_box_tag :subject_ids, subject.id, @student.subjects.include?(subject), :name => "student[subject_ids][]" %>
      <% end %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Cancel Editing', students_path %>