<!DOCTYPE html>
<html>
<head>
  <title>ProjectSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container" id="schoolProjectIndex">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="../" class="navbar-brand" id="mainPage">Project School</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li>
                <a type="button" id="schoolDashboardButton" class="form-contorl">School</a>
              </li>
              <li>
                <a type="button" id="newSchoolButton" class="form-contorl hidden" data-toggle="modal" data-target="#schoolNewModal">New School</a>
              </li>
              <!--Show school menu-->
              <li>
                <a type="button" id="allSchoolButton" class="form-contorl hidden">School Dashboard</a>
              </li>
              <li>
                <a type="button" id="editSchoolButton" class="form-contorl hidden" data-toggle="modal" data-target="#schoolEditModal">Edit Info</a>
              </li>
              <li>
                <a type="button" id="newSubjectButton" class="form-contorl hidden" data-toggle="modal" data-target="#subjectNewModal">New Subject</a>
              </li>
              <li>
                <a type="button" id="viewSubjectButton" class="form-contorl hidden">View Subject</a>
              </li>
              <li>
                <a type="button" id="newClassButton" class="form-contorl hidden" data-toggle="modal" data-target="#classNewModal">New Class</a>
              </li>
              <li>
                <a type="button" id="viewClassButton" class="form-contorl hidden">View Class</a>
              </li>
              <li>
                <a type="button" id="newTeacherButton" class="form-contorl hidden" data-toggle="modal" data-target="#teacherNewModal">New Teacher</a>
              </li>
              <li>
                <a type="button" id="viewTeacherButton" class="form-contorl hidden">View Teacher</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="welcome-margin-top"></div>

      <div id="homeDashboard">
        <div class="row text-center">
          <h1>Welcome To The Project School</h1>
        </div>
      </div>

      <%= render partial: 'welcome/school/index' %>
      <%= render partial: 'welcome/school/show' %>

      <!--<div class="container" id="schoolProjectContainer">-->
        <!--< %= yield %>-->
      <!--</div>-->
    </div>
  </body>
</html>

<%= javascript_include_tag 'index_manifest'%>
<script>
  $(document).ready(function () {
    var index = new PS.Index();
  });
</script>
