<html>
  <head><title>School Project</title></head>
  <body>
    <h1>Welcome To The Project School</h1>
    <%= link_to 'SchoolProject', controller: 'schools' %>
    <%= link_to 'Classroom', controller: 'classrooms' %>
    <%= link_to 'Subject', controller: 'subjects' %>
    <%= link_to 'Teacher', controller: 'teachers' %>
    <%= link_to 'Student', controller: 'students' %>
  </body>
</html>