<h1>Edit/Update Teacher Information</h1>

<%= form_for @teacher do |f| %>

    <% if @teacher.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>
          <ul>
            <% @teacher.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true %>
    </div><br>
    <div class="field">
      <%= f.label :gender %><br>
      <select name="teacher[gender]" id="teacher_gender">
        <option value="Male" selected>Male</option>
        <option value="Female">Female</option>
      </select>
    </div><br>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.number_field :phone, :required => true %>
    </div>
    <br>

    <div class="field">
      <%= f.label :Select_Classrooms  %><br>
      <% School.find(@teacher.school.id).classrooms.each do |classroom| %>
          <%= classroom.name %>
          <%= check_box_tag :classroom_ids, classroom.id, @teacher.classrooms.include?(classroom), :name => "teacher[classroom_ids][]" %>
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label :Select_Subjects  %><br>
      <% School.find(@teacher.school.id).subjects.each do |subject| %>
          <%= subject.name %>
          <%= check_box_tag :subject_ids, subject.id, @teacher.subjects.include?(subject), :name => "teacher[subject_ids][]" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.number_field :school_id, :type => "hidden" %>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div><br>
<% end %>

<%= link_to 'Cancel Editing', schools_path %>