<p>
  <strong>Name :</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>City :</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Phone :</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>School :</strong>
  <%= @teacher.school.name %>
</p>

<p>
  <strong>Subjects :</strong>
  <% @teacher.subjects.each do |subject| %>
    <%= subject.name %>&nbsp;
  <% end %>
</p>

<p>
  <strong>Classes :</strong>
  <% @teacher.classrooms.each do |classroom| %>
      <%= classroom.name %>&nbsp;
  <% end %>
</p>

<p>
  <strong>Students :</strong>
  <% @teacher.classrooms.each do |classroom| %>
      <% classroom.students.each do |student| %>&nbsp;
          <%= student.name %>
      <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Teacher Dashboard', teachers_path %>