<p>
  <strong>Name :</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>City :</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Phone :</strong>
  <%= @teacher.phone %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Teacher Dashboard', teachers_path %>